.menu {


    ul {

        margin: 0;
        padding: 0;
        list-style: none;
        
        li {

            margin-bottom: 5px;
            list-style: none;
            display: block;
        }
    }

    button {
        background-color: #1ea1f2;
        min-width: 100%;
        line-height: 20px;
        padding: 5px 10px;
        border: none;
        color: #ffffff;
        font-weight: bold;
        border-radius: 5px;
    }
}