@import '../../_mixins.scss';

$cell_size: 50px;
$margin:5px;

// e2dfee border color

.Game-Wrapper {

    position: relative;
    height: 100%;
    width: 100%;
    -webkit-user-select: none;
    -moz-user-select: -moz-none;
    -ms-user-select: none;
    user-select: none;

    .Game-Header {

        max-width: 300px;
        display: block;
        margin: 0 auto;
        position: relative;

        p.currentString {

            min-height: 30px;
            margin: 2em 0 0 0;
            line-height: 30px;
            text-align: center;
            width: 100%;
            color: #567dd8;
        }

        label.total-words {

            top: 0;
            right: 0;
            margin: 0;
            width: 100px;
            height: 20px;
            font-size: 12px;
            direction: rtl;
            position: absolute;
            padding: 0 10px;
            box-sizing: content-box;

            span { float: right; }
            span.num {margin-right: 5px;}
        }

        label.clock {

            top: 0;
            left: 0;
            margin: 0;
            width: 100px;
            height: 20px;
            font-size: 12px;
            direction: rtl;
            position: absolute;
            padding: 0 10px;
            box-sizing: content-box;

            span {height: 20px;;}

            span.clock { float: left;line-height: 16px;text-align: center; }
            span.num {margin-right: 5px;float: left;}
        }
    }
    

    div.answer-list {

        width: 300px;
        margin: 0 auto;
        
        p {
            color: #567dd8;
            border-bottom:2px solid #567dd8;
            text-align: right;
            padding: 10px 0 10px 0;
            direction: rtl;
            font-size:13px;
            margin: 0 0 10px 0;
        }

        span {

            float: right;
            margin-left: 10px;
            text-align: center;
            display: inline-block;
            color: lightseagreen;

            span { 
                float: right;
                color: #fc8a96;
                margin-right: 3px;
                line-height: 30px;
            }
            
            i {
                float: right;
                width: 30px;
                height: 30px;
                line-height: 30px;
                color: #fc8a96;
                text-align: center;
            }
        }
    }

    .Game {

        width: 300px;
        height: 300px;
        display: block;
        margin: 0 auto;

        .cell {
    
            z-index: 0;
            width: 50px;
            height: 50px;
            margin: 5px;
            cursor: pointer;
            color: #567dd8;
            line-height: 50px;
            text-align: center;
            position: relative;
            display: inline-block;
            border: 2px solid #567dd8;
            @include border-radius(10px);

            &::before {
                content: '';
                position: absolute;
                left: 0;
                top: 0;
                width: 48px;
                height: 48px;
                z-index: 1;
            }

            &.active {
                color: #567dd8 !important;
                background-color: #cfdcfc !important;
            }

            &.answer {
                color: #fff;
                background-color:#567dd8;
            }
        }
    }
}