@import './_mixins.scss';

html,body {

    margin: 0;
    width: 100%;
    height: 100%;
    outline: none;
    min-height: 100%;
    font-family: 'IRANSans';
}

input,textarea,button {outline: none !important;}

.blur {

    filter: blur(3px);
    -webkit-filter: blur(3px);
}

body {

    position: relative;
    height: inherit;
    width: 100%;
    padding: 2em;
    box-sizing: border-box;
    background: #6224ff;

    #root {
        z-index: 1;
        content: 0;
        top: 2em;
        left: 2em;
        background: #f7fbff;
        position: absolute;
        width: calc(100% - 4em);
        height: calc(100% - 4em);
        @include border-radius(50px);
    }

    .App {

        height: 100%;
        
        .container,.row,.col-4,.col-8 {
            height: 100%;
        }
    }

    nav {

        height: 100%;

        ul.actions {
            @include center-absolute;
            list-style: none;
            li {
                display: block;
            }
        }

        button {

            cursor: pointer;
            background-color: #638de9;
            padding: 5px 10px;
            min-width: 130px;
            color: #fff;
            border: none;
            outline: none;
            font-size: 13px;
            height: 40px;
            margin: 5px;
            @include border-radius(40px);

            span {
                float: right;
                height: 30px;
                margin-right: 10px;
                line-height: 30px !important;
            }

            i {
                width: 30px;
                height: 30px;
                float: right;
                text-align: center;
                line-height: 30px !important;
                cursor: pointer;
                @include border-radius(100%);
                background-color: #567dd8;
            }
        }
    }
}

.disable-select {
    user-select: none; /* supported by Chrome and Opera */
   -webkit-user-select: none; /* Safari */
   -khtml-user-select: none; /* Konqueror HTML */
   -moz-user-select: none; /* Firefox */
   -ms-user-select: none; /* Internet Explorer/Edge */
}
